<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Chat</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		.chat-content {
			width: 50%;
		}
	
		.chat-message {
			background-color: rgb(230,230,230);
		}
		
		div {
			margin-bottom: 10px;
		}
		
		.send-message-form {
			margin-bottom: 15px;
		}
	</style>
</head>

<body>
	<div class="top-content">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
		
		<nav>
			<a href="/messagerooms">Back</a>
		</nav>
	
		<p>Signed in as <strong sec:authentication="name"></strong></p>
		<h1 th:text="${messageRoomName}"></h1>
		
		<h3>Chat</h3>
		
		<div th:each="errorMessage : ${errorMessages}">
			<p th:text="${errorMessage}"></p>
		</div>
		
		<form th:object="${message}" th:action="@{/createmessage}" action="#" method="POST" class="send-message-form">
			<input type="text" id="text" th:field="*{text}" placeholder="Send a message" />
			<input type="hidden" th:field="*{messageRoom.messageRoomId}" />
			<input type="submit" value="Send" />
		</form>
	</div>
	
	<div class="chat-content">
		<div th:each="message : ${messageHistory}" class="chat-message">
			<span th:text="${message.formatCreatedToFinnish}"></span>
			<span th:if="${#authentication.name == message.getSender.getUsername}">
				<a th:href="@{/editmessage/{id}(id=${message.getMessageId})}">Edit</a>
			</span>
			<button th:if="${#authentication.name == message.getSender.getUsername}"
				th:onmouseup="">Delete
			</button><br>
			<strong><span th:text="${message.getSender.getUsername}"></span>:</strong>
			<span th:text="${message.getText}"></span><br>
		</div>
	</div>
</body>
</html>