<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Create a chat room</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		div {
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<a href="/messagerooms">Back</a>
	
	<div th:each="errorMessage : ${errorMessages}">
		<p th:text="${errorMessage}"></p>
	</div>
	
	<h1>New chat room</h1>
	
	<div>
		<form th:object="${messageRoom}" th:action="@{/createmessageroom}" action="#" method="POST">
			<div>
				<label for="name">Name</label><br>
				<input type="text" id="name" th:field="*{name}">
			</div>

			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>