<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Chat App</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Chat App</h1>
	
	<p>Create and join chat rooms to send messages and talk with other people.</p>

	<nav>
		<div>
			<a href="/login">Sign In</a>			
		</div>
		<div>
			<a href="/signup">Create a new user</a>
		</div>
		<div>
			<a href="/messagerooms">Go to chat rooms</a>
		</div>
	</nav>
</body>
</html>