<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Message Rooms</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script defer src="/scripts/main.js"></script>
</head>
<body>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

	<p>Signed in as <strong sec:authentication="name"></strong></p>
	<h1>Chat rooms</h1>
	
	<div>
		<a href="/createmessageroom">Create a room</a>
	</div>
	
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Owner</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="messageRoom : ${messageRooms}">
				<td th:text="${messageRoom.getMessageRoomId}"></td>
				<td th:text="${messageRoom.getName}"></td>
				<td th:text="${messageRoom.getOwner.getUsername}"></td>
				<td th:text="${messageRoom.formatCreatedToFinland}"></td>
				<td><a th:href="@{/messagerooms/{id}(id=${messageRoom.getMessageRoomId})}">Join</a></td>
				<td th:if="${#authentication.name == messageRoom.getOwner.getUsername}">
					<a th:href="@{/editmessageroom/{id}(id=${messageRoom.getMessageRoomId})}">Edit</a>
				</td>
				<td>
					<button th:if="${#authentication.name == messageRoom.getOwner.getUsername}"
						th:onmouseup=
						"confirmMessageRoomDeletion(
							[[${messageRoom.getMessageRoomId}]],
							[[${messageRoom.getName}]])"
						>Delete
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>