<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Messages</title>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Messages</h1>
	<div th:object="${message}">
		<span th:text="${message.getText}"></span><br>
		<span th:text="${message.getCreated}"></span><br>
		<span th:text="${message.formatCreated}"></span><br>
		<span th:text="${message.formatCreatedUTC}"></span><br>
		<span th:text="${message.formatCreatedToLocal}"></span>
	</div>
</body>
</html>