<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Sign Up</title>
	<style>
		div {
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
	<nav>
		<a href="/">Back</a>
	</nav>
	<main>
		<h2>Sign Up</h2>
		<form th:action="@{/signup}" method="POST">
			<div>
				<input type="text" name="username" placeholder="Username" />
			</div>
			<div>
				<input type="password" name="password" placeholder="Password" />
			</div>
			<div>
				<input type="password" name="confirmPassword" placeholder="Confirm Password" />
			</div>
			<div>
				<input type="submit" value="Sign Up" />
			</div>
		</form>
		<span>Already a user? </span><a href="/login">Login</a>
	</main>
</body>
</html>