<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Sign Up</title>
	<style>
		div {
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
	<nav>
		<a href="/">Back</a>
	</nav>
	<h3 th:if="${param.success}">
		Successfully created a new user!
	</h3>
	<main>
		<h2>Sign Up</h2>
		<form th:object="${signupForm}" th:action="@{/signup}" method="POST">
			<div>
				<label for="username">Username</label><br>
				<input type="text" th:field="*{username}" id="username" name="username" />
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
			</div>
			<div>
				<label for="password">Password</label><br>
				<input type="password" th:field="*{password}" id="password" name="password" />
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
			</div>
			<div>
				<label for="password-confirm">Confirm Password</label><br>
				<input type="password" th:field="*{passwordConfirm}" id="password-confirm" name="passwordConfirm" />
				<p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password Match Error</p>
			</div>
			<div>
				<input type="submit" value="Sign Up" />
			</div>
		</form>
		<span>Already a user? </span><a href="/login">Login</a>
	</main>
</body>
</html>